<!DOCTYPE html>
<html lang="en">
	
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>
			Quản lý <% if(typeof name_show === "string") { %><%= name_show %><% }else{ '' } %>
		</title>
		<meta name="description" content="<%= SettingHelper.getSetting('seo_description') %>" />
		<meta name="keywords" content="<%= SettingHelper.getSetting('seo_keywords') %>" />
		<meta name="keywords" content="<%= SettingHelper.getSetting('seo_title') %>" />
		<link rel="canonical" href="https://localhost:3000/admin/<%= typeof module === 'string' ? module : '' %>" />
		<link rel="icon" type="image/x-icon" href="<%= SettingHelper.getSetting('favicon','image') %>">
		<% if(typeof csrfToken === 'string' && csrfToken) { %>
		<meta name="csrf-token" content="<%= csrfToken %>" />
		<% } %>
		<link rel="stylesheet" href="/core/admin/css/r8.css" />
		<link rel="stylesheet" href="/core/admin/css/admin.css" />
		<link rel="stylesheet" href="/core/admin/css/chat.css" />
	</head>
	
	<body class="<%= req.cookies?.smallMenu == 1 ? 'menu-small' : '' %>">
		<main>
			<div class="main-container">
				<div class="menu-admin">
					<aside>
						<div class="header-menu">
							<a href="/admin" class="logo">
								<img src="<%= SettingHelper.getSetting('logo','image') %>" />
							</a>
							<span class="toggle-sidebar">
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
									<path
											d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.2 288 416 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-306.7 0L214.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z" />
								</svg>
							</span>
						</div>
						<ul>
							<li>
								<div class="collapse-menu">
									<span class="collapse-svg">
										<%- include('./svg') %>
									</span>
									<span class="collapse-text">Cài đặt</span>
									<i>
										<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
											<defs>
												<linearGradient id="gradient1" x1="0%" y1="0%" x2="100%" y2="100%">
													<stop offset="0%" stop-color="#f6f5ff">
														<animate attributeName="stop-color" values="#5549be; #f6f5ff; #5549be" dur="2s" repeatCount="indefinite"></animate>
													</stop>
													<stop offset="100%" stop-color="#f6f5ff">
														<animate attributeName="stop-color" values="#f6f5ff; #5549be; #f6f5ff" dur="2s" repeatCount="indefinite"></animate>
													</stop>
												</linearGradient>
											</defs>
											<path
													d="M350 334.5c3.8 8.8 2 19-4.6 26l-136 144c-4.5 4.8-10.8 7.5-17.4 7.5s-12.9-2.7-17.4-7.5l-136-144c-6.6-7-8.4-17.2-4.6-26s12.5-14.5 22-14.5h88l0-192c0-17.7-14.3-32-32-32H32C14.3 96 0 81.7 0 64V32C0 14.3 14.3 0 32 0l80 0c70.7 0 128 57.3 128 128l0 192h88c9.6 0 18.2 5.7 22 14.5z"
													fill="url(#gradient1)" />
										</svg>
									</i>
								</div>
								<ul>
									<li>
										<a href="#" class="link">
											<span class="link-icon"><%- include('./svg') %></span>
											<span class="link-text">Test</span>
										</a>
									</li>
									<li>
										<div class="link active">
											<span class="link-icon"><%- include('./svg') %></span>
											<span class="link-text">Test</span>
										</div>
									</li>
									<li>
										<a href="#" class="link">
											<span class="link-icon"><%- include('./svg') %></span>
											<span class="link-text">Test</span>
										</a>
									</li>
								</ul>
							</li>
							<li>
								<a class="link <%= typeof module === 'undefined' ? 'active' : '' %>" href="/admin">
									<span class="link-icon"><%- include('./svg') %></span>
									<span class="link-text">Tổng quan</span>
								</a>
							</li>
							<% if(typeof req.menus === 'object'){ %> <%
							req.menus.filter(menu => req.permission.some(permission =>
                            {
							    return permission.includes(`${menu.name}.view`) && menu.active 
                            })).forEach(menu => {
							%>
							<li>
								<a class="link <% if(typeof module === "string" && menu.name === module){%>active<%}%>" href="/admin/<%= menu.name  %>">
									<span class="link-icon">
										<%- include('./svg') %>
									</span>
									<span class="link-text"><%= menu.name_show %></span>
								</a>
							</li>
							<%})%> <% } %>
						</ul>
					</aside>
				</div>
				<div class="main-content">
					<header class="header-main-admin">
						<div class="notification">
							<span class="icon">
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
									<path
											d="M224 0c-17.7 0-32 14.3-32 32V51.2C119 66 64 130.6 64 208v25.4c0 45.4-15.5 89.5-43.8 124.9L5.3 377c-5.8 7.2-6.9 17.1-2.9 25.4S14.8 416 24 416H424c9.2 0 17.6-5.3 21.6-13.6s2.9-18.2-2.9-25.4l-14.9-18.6C399.5 322.9 384 278.8 384 233.4V208c0-77.4-55-142-128-156.8V32c0-17.7-14.3-32-32-32zm0 96c61.9 0 112 50.1 112 112v25.4c0 47.9 13.9 94.6 39.7 134.6H72.3C98.1 328 112 281.3 112 233.4V208c0-61.9 50.1-112 112-112zm64 352H224 160c0 17 6.7 33.3 18.7 45.3s28.3 18.7 45.3 18.7s33.3-6.7 45.3-18.7s18.7-28.3 18.7-45.3z" />
								</svg>
							</span>
							<div class="notification-menu"></div>
						</div>
						<div class="user-dropdown">
							<div class="name"><%= req.user.fullname %></div>
							<div class="image">
								<img src="<%= FunctionHelper.getImage(req.user.avatar) %>" alt="" />
							</div>
							<ul>
								<li><a href="/admin/users/edit/<%= req.user.id %>">Sửa thông tin</a></li>
								<li><a href="/admin/users/edit/<%= req.user.id %>">Đổi mật khẩu</a></li>
								<li>
									<form action="/logout" method="POST"><button>Đăng xuất</button></form>
								</li>
							</ul>
						</div>
					</header>
					<div class="main-body">
						<div class="main">
							<%- body %>
						</div>
						<footer>
							<span class="p-4 d-block">CMS By @RONIEJISA</span>
						</footer>
					</div>
				</div>
			</div>
		</main>
		
		<%- include('../chat/index') %>
		<div class="cms-loading"></div>
		<script src="/core/admin/js/admin2.js" type="module"></script>
	</body>
	
</html>
