<!DOCTYPE html>
<html lang="en">
	
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Đăng nhập</title>
		<meta name="description" content="<%= SettingHelper.getSetting('seo_description') %>" />
		<meta name="keywords" content="<%= SettingHelper.getSetting('seo_keywords') %>" />
		<meta name="keywords" content="<%= SettingHelper.getSetting('seo_title') %>" />
        <link rel="icon" type="image/x-icon" href="<%= SettingHelper.getSetting('favicon','image') %>">
		<link rel="canonical" href="https://localhost:3000" />
		<link rel="stylesheet" href="./core/login/css/login.css">
	</head>
	
	<body>
		<section class="login">
			<div class="preview-image">
				<img src="https://picsum.photos/1912/924" alt="">
			</div>
			<div class="login-box">
				<div class="container">
					<%- body %>
				</div>
			</div>
		</section>
	</body>
	
</html>
