<!DOCTYPE html>
<html lang="en">
	
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Quản lý ảnh</title>
		<link rel="stylesheet" href="/core/media/css/media.css">
		<meta name="description" content="<%= SettingHelper.getSetting('seo_description') %>" />
		<meta name="keywords" content="<%= SettingHelper.getSetting('seo_keywords') %>" />
		<meta name="keywords" content="<%= SettingHelper.getSetting('seo_title') %>" />
		<link rel="icon" type="image/x-icon" href="<%= SettingHelper.getSetting('favicon','image') %>">
		<link rel="canonical" href="<%= process.env.BASE_URL %><%= process.env.VITE_AP %>/media" />
	</head>
	
	<body>
		<%- body %>
		<script src="/core/media/js/media2.js" type="module"></script>
	</body>
	
</html>
