<li>
    <div class="collapse-menu">
        <span class="collapse-svg">
            <%- include('./svg') %>
        </span>
        <span class="collapse-text">Cài đặt</span>
        <i>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                <defs>
                    <linearGradient id="gradient1" x1="0%" y1="0%" x2="100%" y2="100%">
                        <stop offset="0%" stop-color="#f6f5ff">
                            <animate attributeName="stop-color" values="#5549be; #f6f5ff; #5549be" dur="2s" repeatCount="indefinite"></animate>
                        </stop>
                        <stop offset="100%" stop-color="#f6f5ff">
                            <animate attributeName="stop-color" values="#f6f5ff; #5549be; #f6f5ff" dur="2s" repeatCount="indefinite"></animate>
                        </stop>
                    </linearGradient>
                </defs>
                <path
                        d="M350 334.5c3.8 8.8 2 19-4.6 26l-136 144c-4.5 4.8-10.8 7.5-17.4 7.5s-12.9-2.7-17.4-7.5l-136-144c-6.6-7-8.4-17.2-4.6-26s12.5-14.5 22-14.5h88l0-192c0-17.7-14.3-32-32-32H32C14.3 96 0 81.7 0 64V32C0 14.3 14.3 0 32 0l80 0c70.7 0 128 57.3 128 128l0 192h88c9.6 0 18.2 5.7 22 14.5z"
                        fill="url(#gradient1)" />
            </svg>
        </i>
    </div>
    <ul>
        <li>
            <a href="#" class="link">
                <span class="link-icon"><%- include('./svg') %></span>
                <span class="link-text">Test</span>
            </a>
        </li>
        <li>
            <div class="link active">
                <span class="link-icon"><%- include('./svg') %></span>
                <span class="link-text">Test</span>
            </div>
        </li>
        <li>
            <a href="#" class="link">
                <span class="link-icon"><%- include('./svg') %></span>
                <span class="link-text">Test</span>
            </a>
        </li>
    </ul>
</li>


<li>
    <a class="link <%= typeof module === 'undefined' ? 'active' : '' %>" href="/admin">
        <span class="link-icon"><%- include('./svg') %></span>
        <span class="link-text">Tổng quan</span>
    </a>
</li>