<ul>
    <li tooltip="<%= i18n.__("dashboard") %>" tooltip-type="right">
        <a class="link <%= typeof module === 'undefined' ? 'active' : '' %>" href="<%= process.env.VITE_AP %>">
            <span class="link-icon"><%- include('../icons/dashboard') %></span>
            <span class="link-text"><%= i18n.__("dashboard") %></span>
        </a>
    </li>
    <% if(typeof req.menuList){%>
        <% req.menuList.forEach(menu => { %>
        <% if(menu.childs && menu.childs.length){ %>
            <li>
                <% const isActive = menu.childs.some(({name}) => typeof module === 'string' && module === name ) %>
                <div class="collapse-menu <%= isActive ? '' : 'hidden' %> ">
                    <span class="collapse-svg">
                        <%- menu.icon %>
                    </span>
                    <span class="collapse-text"><%= menu.name %></span>
                    <i>
                        <%- include('../icons/down', { isActive }) %>
                    </i>
                </div>
                <ul>
                    <% menu.childs.forEach(child => { %>
                    <li>
                        <a href="<%= process.env.VITE_AP %>/<%= child.name  %>" class="link <%= typeof module === "string" && module === child.name ? 'active' : '' %>">
                            <span class="link-icon"><%- child.icon %></span>
                            <span class="link-text"><%= child.name_show %></span>
                        </a>
                    </li>
                    <% }) %>
                </ul>
            </li>
        <% } else if(!menu.childs){ %>
            <li tooltip="<%= menu.name_show %>" tooltip-type="right">
                <a class="link <%= typeof module === "string" && module === menu.name ? 'active' : '' %>" href="<%= process.env.VITE_AP %>/<%= menu.name  %>">
                    <span class="link-icon"><%- menu.icon %></span>
                    <span class="link-text"><%= menu.name_show %></span>
                </a>
            </li>
        <% } %>
        <% }) %>
    <% } %>
</ul>