<div class="form-group mb-3">
  <label class="d-block mb-1"><%= field.label %></label>
  <table class="table permission border">
    <thead>
      <tr>
        <th>Module</th>
        <th>Quyền</th>
        </th>
      </tr>
    </thead>
    <tbody>
      <% field.data.forEach(module => { %>
      <tr>
        <td><%= module[field.keyLabel] %></td>
        <td>
          <div class="grid gap-2">
            <% module[field.asModelAssoc].forEach(permission => { %>
            <label role="button">
              <input type="checkbox" name="<%= field.name %>" value="<%= module[field.keyValue] %>|<%= permission[field.keyValueOfAssoc] %>" <% if(data[field.asRoleModulePermission].some(item => {
                return ((item && item[field.asModulePermission] && item[field.asModulePermission][field.mainKey] && +item[field.asModulePermission][field.mainKey] === +module[field.keyValue]) 
                && 
                (+item[field.asModulePermission][field.subKey] === +permission[field.keyValueOfAssoc])
                )})){%> checked <% } %>>
              <%= permission[field.keyLabelOfAssoc] %>
            </label>
            <% }) %>
          </div>
        </td>
      </tr>
      <% }) %>
    </tbody>
  </table>
</div>