<table class="table">
    <thead>
        <tr>
            <th width="3%">
                <label class="check-all">
                    <input type="checkbox" hidden />
                </label>
            </th>
            <th width="5%">STT</th>
            <% fields.forEach(field=> { %>
            <th><%= field.label %></th>
            <% if(req.permission.some(permission =>
            permission.includes(`${module}.custom-page`))){ %>
            <th width="5%">Builder</th>
            <%}%> <% }) %> <% if(req.permission.some(permission =>
            permission.includes(`${module}.edit`) ||
            permission.includes(`${module}.update`))){ %>
            <th width="5%">Sửa</th>
            <%}%> <% if(req.permission.some(permission =>
            permission.includes(`${module}.delete`))){ %>
            <th width="5%">Xóa</th>
            <%}%>
        </tr>
    </thead>
    <tbody>
        <% if(!listData.length){ %>
        <tr>
            <td colspan="100%" style="text-align: center">
                <%= i18n.__('data_not_found') %>
            </td>
        </tr>
        <% }else{ %> <% listData.forEach((item,index) => { %>
        <tr>
            <td>
                <label class="check-single">
                    <input type="checkbox" value="<%= item.id %>" hidden />
                </label>
            </td>
            <td><%= index + 1 %></td>
            <% fields.forEach(field=> {%>
            <td>
                <%- include(`../types/view/${field.type}`,{ field,
                value:item[field.name],item }); %>
            </td>
            <% if(req.permission.some(permission =>
            permission.includes(`${module}.custom-page`))){ %>
            <td class="text-center">
                <a
                    href="<%= process.env.VITE_AP %>/<%= module %>/custom-page/<%= item.id %>"
                    class="btn btn-success"
                    >Builder</a
                >
            </td>
            <%}%> <% }) %> <% if(req.permission.some(permission =>
            permission.includes(`${module}.edit`) ||
            permission.includes(`${module}.update`))){ %>
            <td class="text-center">
                <a
                    href="<%= process.env.VITE_AP %>/<%= module %>/edit/<%= item.id %>"
                    class="btn btn-warning"
                >
                <%= i18n.__('edit') %>
                </a>
            </td>
            <% } %> <% if(req.permission.some(permission =>
            permission.includes(`${module}.delete`))){ %>
            <td class="text-center">
                <form
                    action="<%= process.env.VITE_AP %>/<%= module %>/delete/<%= item.id %>"
                    method="POST"
                    onsubmit="if(!confirm(`${i18n.__('delete_confirm')}`)) return false"
                >
                    <input hidden name="_csrf" value="<%= csrfToken %>" />
                    <button class="btn btn-danger">
                        <%= i18n.__('delete') %>
                    </button>
                </form>
            </td>
            <% } %>
        </tr>
        <% }) %> <% } %>
    </tbody>
</table>
<%- paginate %>